<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="InsightAppender" type="log4net.Appender.LogentriesAppender, LogentriesLog4net">
      <token value="420e6bea-947f-4dbc-b219-32e449488bab" />
       <immediateFlush value="true" />
    <debug value="true" />
    <useHttpPut value="false" />
    <useSsl value="false" />
    <layout type="log4net.Layout.PatternLayout">
        <!-- The below pattern has been carefully formatted and optimized to work well with the Logentries.com entry parser. For reference see https://logentries.com/doc/search/. -->
        <param name="ConversionPattern" value="%d %logger %level% %m%n" />
    </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="InsightAppender" />
    </root>
  </log4net>
  </configuration>